{% extends 'base.html' %}
{% block content %}

<div class="top-nav" id="home">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <p>For English, click <a href="/">here</a>.</p>
            </div>
        </div>
    </div>
</div>
<!-- <nav class="navbar navbar-light bg-white sticky-top">
    <div class="container justify-content-center">
        <a class="navbar-brand" href="#">CMF CONSULTANTS<span class="dot">.</span></a>
      
        
    </div>
</nav> -->



<div class="const-image" style="background-color: #03213c;">
    <div class="container">
        <div class="px-4 py-5 text-center justify-content-center" >
            <div class="container p-0 rounded-4 mt-4 mb-5" style="width: 175px; height: 100px; background-color: green; font-size: 60px; color:rgb(241, 241, 241) ">CMF</div>
            <h1 class="display-8 mt-4" style="color:rgb(241, 241, 241)">COMMERCIAL & MINORITY</h1>
            <h1 class="display-8 mb-2" style="color:rgb(241, 241, 241)">FUNDING CONSULTANTS</h1>
            <div class="col-lg-12 mx-auto">
            <p class="lead" style="color:rgb(241, 241, 241)">"Helping minorites and businesses reach their funding goals"</p>
            </div>
        </div>
    </div>
</div>

<div class="px-4 py-5" style="background-color: rgb(241, 241, 241);">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3 ">
        <div class="col d-flex align-items-start">
            <div class="icon-square d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3" style="border-radius: 50%; background-color: green;">
                <span class="material-symbols-outlined" style="font-size: 36px; color: white;">
                    attach_money
                </span>
            </div>
            <div>
                <h3 class="fs-3">Loans and Grants for Women & Minorites</h3>
                <p>There are many new programs available to help women & minorites with grants and low interest loans</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3" style="border-radius: 50%; background-color: green;">
                <span class="material-symbols-outlined" style="font-size: 36px; color: white;">
                    attach_money
                </span>
            </div>
            <div>
                <h3 class="fs-3">Free Workshops to All Minority Groups</h3>
                <p>We offer in-person or video workshops to help guide you on achieving your business goals</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3" style="border-radius: 50%; background-color: green;">
                <span class="material-symbols-outlined" style="font-size: 36px; color: white;">
                    attach_money
                </span>
            </div>
            <div>
                <h3 class="fs-3">Helping People Get into and Start a Business</h3>
                <p>Have you decided to start your own business but are not sure where to finacially begin?</p>
            </div>
        </div>
    </div>
</div>

<section id="milestone">
    <div class="container">
        <div class="row text-center justify-content-center gy-4">
            <div class="col-lg-8 col-sm-6">
                <h1 class="display-6">We help with application processing for minority certification to get SBA (or other) loans & grants</h1>
                <p class="mb-0">CMF Consultants shop for loans and grants that suit your specific needs!</p>
            </div>
        </div>
    </div>
</section>


<div class=" px-4 py-5 " style="background-color: rgb(241, 241, 241);">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3 text-center align-items-start justify-content-center">
        <div class="feature col">
            <div class="d-inline-flex text-center align-items-center justify-content-center fs-4 " style="border-radius: 50%; background-color: green;">
                <span class="material-symbols-outlined" style="font-size: 36px; color: white;">
                    attach_money
                </span>
            </div>
            <h3 class="fs-2">Funding Strategies</h3>
        </div>
        <div class="feature col">
            <div class="d-inline-flex align-items-center text-center justify-content-center fs-4 flex-shrink-0" style="border-radius: 50%; background-color: green;">
                <span class="material-symbols-outlined" style="font-size: 36px; color: white;">
                    attach_money
                </span>
            </div>
            <h3 class="fs-2">Business Management Consulting</h3>
        </div>
        <div class="feature col">
            <div class="d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0" style="border-radius: 50%; background-color: green;">
                <span class="material-symbols-outlined" style="font-size: 36px; color: white;">
                    attach_money
                </span>
            </div>
            <h3 class="fs-2">Business Turnaround</h3>
        </div>
    </div>
  </div>



<footer class="text-center text-white" style="background-color: #0a4275;">
    
    <section class="p-3 justify-content-center align-items-center contact">
        <h5 class="mb-3" style="color:rgb(241, 241, 241)">
            Información del contacto
        </h5>
        <p>
            <i class='bx bxs-envelope'></i> info@cmfconsultants.net
        </p>
        <p class="d-flex justify-content-center align-items-center">
            <i class='bx bxs-phone-call'></i> (702) 701-2992
        </p>
        <p class="d-flex justify-content-center align-items-center">
            <i class='bx bxs-phone-call'></i> (786) 200-2080
        </p>
        <p class="d-flex justify-content-center align-items-center">
            Contamos con oficinas en las vegas y florida
        </p>
    </section>
    
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    Over 35 years helping people & businesses with financial crisis management
    </div>
</footer>
    




{% endblock %}